*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgb(158, 157, 155);
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
.contenedor{
    max-width: 1200px;
    margin: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.contenedorDeTarjeta{
    margin: 20px;
}
.contenedorDeTarjeta figure{
    width: 300px;
    height: 350px;
    margin: 0px;
    position: relative;
    transition: all ease 1s;
    transform-style: preserve-3d;
    transform: perspective(500px) rotatey(0deg);
}
.contenedorDeTarjeta:hover figure{
    transform: perspective(500px) rotatey(180deg);
}
figure .parteFrontal{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}
figure .partePosterior{
    padding: 2em;
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    backface-visibility: hidden;
    overflow: auto;
    transition: all ease 1.5s;
    transform: perspective(600px) rotatey(180deg);
}
.contenedorDeTarjeta:hover figure .partePosterior{
    transition: all ease 1.5s;
    background: rgba(107, 160, 207, 0.555);
    color:rgb(38, 51, 71);
}
.partePosterior h1{
    text-align: center;
    margin: 2px;
}
.partePosterior h3{
    margin: 6px 5px;
}
.partePosterior p{
    margin: 0% 4%;
    margin-top: 15%;
}